*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif
}
body{
    background-color:#25807E ;
}
#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#content h1{
    font-size: 2.5rem;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.76);
    background-image: linear-gradient(to right, #25807ee5,#96fffd77,#49fffcb6);
}
#content h1 span{
    color: rgba(255, 255, 255, 0.74);
}
.config{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.config input[type='number']{
    width: 45px;
    margin-right: 10px;
    margin-left: 0px;
    align-self: center;
    border-radius: 0px;
    background-color: white;
    padding: 10px;
    color: black;
    padding: 5px;
}
.config label{
    font-weight: bold;
    font-size: 1.3rem;
    align-self: flex-start;
    justify-self: center;
}
input{
    width: 130px;
    margin-left: 20px;
    background-color:#49fffcb6 ;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
    font-weight: bold;
}
input:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699);
    background-color:#42e2e0b6 ;
}
.canvas{
    display: grid;
    grid-template-columns: repeat(16, auto);
    margin-top: 50px;
    margin-bottom: 50px;
}
.grid{
    width: 15px;
    display: none;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: white;
}
.colors{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width:720px){
    .config{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .colors{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:600px){
    #content h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .config label{
        font-size: 1rem;
    }
    .config input{
        font-size: 0.8rem;
        width: 90px;
    }
    input{
        width: 70px;
        font-size: 0.7rem;
    }
    .grid{
        width: 10px;
        height: 10px;
    }
}